# --- Compilation ---
/target/
**/*.rs.bk

# --- Sentinel Node Data (Crucial) ---
# We ignore the entire .sentinel folder because it contains:
# 1. identity.key (Private!)
# 2. storage.db (Local history)
# 3. node.key (TLS Private key)
.sentinel/
*.db
*.key

# --- Certificates ---
# We keep the public .crt so nodes can trust each other,
# but we never push .key or .pem (which often contain keys)
certs/*.key
certs/*.pem
!certs/*.crt
node.key
node.crt

# --- IDEs and OS ---
.vscode/
.idea/
.DS_Store
*.swp
.env

# --- Project Specific ---
/uploads/